<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658019974710-n386rlknp5gsou46otbv6g5li0luh8is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658019974710-n386rlknp5gsou46otbv6g5li0luh8is</string>
	<key>API_KEY</key>
	<string>AIzaSyBEqwXyzq5ctnHtntzUI_qrVBpiDexsASo</string>
	<key>GCM_SENDER_ID</key>
	<string>658019974710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trust.NotiCorrectionLib</string>
	<key>PROJECT_ID</key>
	<string>noticorrectionlib</string>
	<key>STORAGE_BUCKET</key>
	<string>noticorrectionlib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658019974710:ios:9b543fbaeef1c1fb246297</string>
</dict>
</plist>